<template>
  <div>
    <!-- 面包屑导航 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>摊位管理</el-breadcrumb-item>
      <el-breadcrumb-item>摊位信息管理</el-breadcrumb-item>
    </el-breadcrumb>
    <el-row style="margin-top: 20px">
      <el-col :span="4" class="pt_left">
        <div class="pt_left_btn">
          <el-button size="mini" type="primary" @click="setMoney"
            >设定金额</el-button
          >
        </div>
        <div style="margin-top: 5px">
          <el-tree
            :data="categoryTreeData"
            highlight-current
            ref="categorytree"
            :expand-on-click-node="false"
            node-key="id"
            default-expand-all
            class="treeclass"
          ></el-tree>
        </div>
      </el-col>
      <el-col :span="20" class="pt_right">
        <!--列表-->
        <el-table
          size="small"
          :data="listData"
          highlight-current-row
          v-loading="loading"
          border
          element-loading-text="拼命加载中"
          style="width: 100%; margin-top: 33px"
        >
          <el-table-column prop="nickname" label="摊位名称"> </el-table-column>
          <el-table-column prop="address" label="摊床位置" width="200">
          </el-table-column>
          <el-table-column prop="info" label="经营内容" width="200">
          </el-table-column>
          <el-table-column prop="price" label="摊位金额"> </el-table-column>
          <el-table-column prop="priceState" label="缴费情况">
            <template slot-scope="scope">
                {{ scope.row.priceState === 1 ? "已缴费" : "未缴费" }}
              </template>
          </el-table-column>
        </el-table>
        <!-- 分页组件 -->
        <el-pagination
          ref="pager"
          class="pt_page"
          @size-change="changeSize"
          @current-change="changeCurrent"
          :current-page="agencyTablePage.page"
          :page-sizes="[10, 20, 30, 40]"
          :page-size="agencyTablePage.rows"
          layout="total, sizes, prev, pager, next, jumper"
          :total="agencyTablePage.total"
        >
        </el-pagination>
        <!-- 金额弹窗 -->
        <el-dialog
          title="设定金额"
          :visible.sync="setVisible"
          width="40%"
          destroy-on-close
        >
          <el-form label-width="120px" ref="editForm">
            <el-form-item label="摊位等级">
              <el-input
                size="small"
                v-model="info.id"
                auto-complete="off"
                readonly
              ></el-input>
            </el-form-item>
            <el-form-item label="摊位金额">
              <el-input
                size="small"
                v-model="info.price"
                auto-complete="off"
              ></el-input>
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button size="mini" @click="setVisible = false">取消</el-button>
            <el-button
              size="mini"
              type="primary"
              :loading="loading"
              class="title"
              @click="submit"
              >保存</el-button
            >
          </div>
        </el-dialog>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import api from "../api/index";
export default {
  data() {
    return {
      // 分页
      agencyTablePage: {
        page: 1,
        rows: 30,
        total: 0,
      },
      setVisible: false,
      listData: [],
      info: [],
      loading: false, //是显示加载
      categoryTreeData: [
        {
          label: "摊位等级",
          id: "0",
          children: [
            { label: "一级", id: "1", children: [] },
            { label: "二级", id: "2", children: [] },
            { label: "三级", id: "3", children: [] },
          ],
        },
      ],
    };
  },
  created() {
    this.getList(this.agencyTablePage.page, this.agencyTablePage.rows);
  },
  methods: {
    getList(page, size, data) {
      api.getShopperList(page, size, data).then((res) => {
        const data = res.data;
        if (data.code === 200) {
          this.listData = data.data.list;
          this.agencyTablePage.total = data.data.total;
        }
      });
    },
    changeSize(rows) {
      this.agencyTablePage.rows = rows;
      this.getList(this.agencyTablePage.page, rows);
    },
    changeCurrent(current) {
      this.agencyTablePage.page = current
      this.getList(current, this.agencyTablePage.rows);
    },
    submit() {
      const data = {
        level: this.info.id,
        money: this.info.price
      }
      api.updateMoney(data).then((res) => {
        if (res.data.code === 200) {
          this.$message({
            type: "success",
            message: res.data.message,
          });
          this.setVisible = false;
        }
      });
    },
    setMoney() {
      let currentNode = this.$refs.categorytree.getCurrentNode();
      if (currentNode && currentNode != null && currentNode.id !== "0") {
        this.setVisible = true;
        this.info = currentNode;
      } else if (currentNode && currentNode != null && currentNode.id === "0") {
        this.$message({
          showClose: true,
          message: "不能选择顶级分类",
          type: "warning",
        });
      } else {
        this.$message({
          showClose: true,
          message: "请选择一条分类",
          type: "warning",
        });
      }
    },
  },
};
</script>