<template>
 <div>
    <div class="errorpage_container">
      <div class="errorpage_subject subject-500">
        <img class="img-responsive" src="@/assets/abnomal/500-subject.png">
      </div>
      <div class="errorpage_text text-500">
          <p>抱歉，</p>
          <p>服务器错误！</p>
      </div>
    </div>
    </div>
</template>
<script>

export default {
  name: 'error500'

}
</script>
<style scoped>
  @import "../../../style/abnormal/abnormal.css";
</style>
