<template>
  <div>
    <!-- 面包屑导航 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>商家管理</el-breadcrumb-item>
      <el-breadcrumb-item>商家信息管理</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 搜索筛选 -->
    <el-form :inline="true" class="user-search" style="margin-top: 20px">
      <el-form-item>
        <el-select v-model="searchValue" size="mini" @change="reset" placeholder="请选择">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-input
          size="small"
          v-model="valueInfo"
          placeholder="输入搜索值"
        ></el-input>
      </el-form-item>
      <el-form-item>
        <el-button
          size="small"
          type="primary"
          icon="el-icon-search"
          @click="search"
          >搜索</el-button
        >
      </el-form-item>
    </el-form>
    <!--列表-->
    <el-table
      size="small"
      :data="listData"
      highlight-current-row
      v-loading="loading"
      border
      element-loading-text="拼命加载中"
      style="width: 100%; margin-top: 5px"
    >
      <el-table-column prop="id" label="摊主身份证号" width="200">
      </el-table-column>
      <el-table-column prop="nickname" label="摊位名称" width="150">
      </el-table-column>
      <el-table-column prop="address" label="摊床位置" width="300">
      </el-table-column>
      <el-table-column prop="info" label="经营内容" width="200">
      </el-table-column>
      <el-table-column
        align="center"
        label="操作"
        min-width="100"
        fixed="right"
      >
        <template slot-scope="scope">
          <el-button size="mini" @click="edit(scope.row)">修改</el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页组件 -->
    <el-pagination
      ref="pager"
      class="pt_page"
      @size-change="changeSize"
      @current-change="changeCurrent"
      :current-page="agencyTablePage.page"
      :page-sizes="[10, 20, 30, 40]"
      :page-size="agencyTablePage.rows"
      layout="total, sizes, prev, pager, next, jumper"
      :total="agencyTablePage.total"
    >
    </el-pagination>
    <!-- 修改商家信息界面 -->
    <el-dialog
      title="修改"
      :visible.sync="editVisible"
      width="40%"
      destroy-on-close
    >
      <el-form label-width="120px" ref="editForm">
        <el-form-item label="商家姓名">
          <el-input
            size="small"
            v-model="info.User.nickname"
            auto-complete="off"
          ></el-input>
        </el-form-item>
        <el-form-item label="商家联系方式">
          <el-input
            size="small"
            v-model="info.User.tel"
            auto-complete="off"
          ></el-input>
        </el-form-item>
        <el-form-item label="身份证号">
          <el-input
            size="small"
            v-model="info.User.id"
            auto-complete="off"
          ></el-input>
        </el-form-item>
        <el-form-item label="摊位名称">
          <el-input
            size="small"
            v-model="info.Shopper.nickname"
            auto-complete="off"
          ></el-input>
        </el-form-item>
        <el-form-item label="摊位地址">
          <el-input
            size="small"
            v-model="info.Shopper.address"
            auto-complete="off"
          ></el-input>
        </el-form-item>
        <el-form-item label="摊位等级">
          <el-input
            size="small"
            v-model="info.Shopper.level"
            auto-complete="off"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button size="mini" @click="editVisible = false">取消</el-button>
        <el-button
          size="mini"
          type="primary"
          :loading="loading"
          class="title"
          @click="submit"
          >保存</el-button
        >
      </div>
    </el-dialog>
  </div>
</template>
<script>
import api from "../api/index";
export default {
  data() {
    return {
      // 分页
      agencyTablePage: {
        page: 1,
        rows: 30,
        total: 0,
      },
      editVisible: false,
      listData: [],
      info: {
        Shopper: {
          address: "",
          id: "",
          info: "",
          level: 1,
          nickname: "",
          price: 0,
          priceState: 0,
          state: 1,
          timeadd: "",
          timeupdate: "",
          type: null,
          user: "",
        },
        User: {
          id: "",
          loginname: "",
          nickname: "",
          password: "",
          role: 0,
          tel: "",
          timeadd: "",
          timeupdate: "",
        },
      },
      loading: false, //是显示加载
      searchValue: "1",
      valueInfo: "",
      options: [
        {
          label: "摊位名称",
          value: "1",
        },
        {
          label: "摊位地址",
          value: "2",
        },
        {
          label: "经营内容",
          value: "3",
        },
      ],
    };
  },
  created() {
    this.getList(this.agencyTablePage.page, this.agencyTablePage.rows);
  },
  methods: {
    getList(page, size, data) {
      api.getShopperList(page, size, data).then((res) => {
        const data = res.data;
        if (data.code === 200) {
          this.listData = data.data.list;
          this.agencyTablePage.total = data.data.total;
        }
      });
    },
    changeSize(rows) {
      this.agencyTablePage.rows = rows;
      this.getList(this.agencyTablePage.page, rows);
    },
    changeCurrent(current) {
      this.agencyTablePage.page = current
      this.getList(current, this.agencyTablePage.rows);
    },
    edit(row) {
      api.getShopperInfo(row.id).then((res) => {
        const data = res.data;
        if (data.code === 200) {
          this.info = data.data;
          this.editVisible = true;
        }
      });
    },
    submit() {
      api.updateShopperInfo(this.info).then((res) => {
        if (res.data.code === 200) {
          this.$message({
            type: "success",
            message: res.data.message,
          });
          this.editVisible = false;
          this.getList(this.agencyTablePage.page, this.agencyTablePage.rows);
        } else {
          this.$message({
            type: "warning",
            message: "修改失败",
          });
        }
      });
    },
    search() {
      var data = "";
      if (this.searchValue === "1" && this.valueInfo !== "") {
        data = "nickname=" + this.valueInfo;
      } else if (this.searchValue === "2" && this.valueInfo !== "") {
        data = "address=" + this.valueInfo;
      } else if (this.searchValue === "3" && this.valueInfo !== "") {
        data = "info=" + this.valueInfo;
      }
      this.getList(this.agencyTablePage.page, this.agencyTablePage.rows, data)
    },
    reset() {
      this.valueInfo = "";
    },
  },
};
</script>