<template>
  <div>
    <!-- 面包屑导航 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>商家管理</el-breadcrumb-item>
      <el-breadcrumb-item>商家信息审批</el-breadcrumb-item>
    </el-breadcrumb>
    <!--列表-->
    <el-table
      size="small"
      :data="listData"
      highlight-current-row
      v-loading="loading"
      border
      element-loading-text="拼命加载中"
      style="width: 100%; margin-top: 20px"
    >
      <el-table-column prop="id" label="身份证号" width="150">
      </el-table-column>
      <el-table-column prop="nickname" label="摊位名称" width="150">
      </el-table-column>
      <el-table-column prop="address" label="摊床位置" width="200">
      </el-table-column>
      <el-table-column prop="info" label="经营内容" width="200">
      </el-table-column>
      <el-table-column prop="timeadd" label="提交时间" width="150">
      </el-table-column>
      <el-table-column
        align="center"
        label="操作"
        min-width="200"
        fixed="right"
      >
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            @click="handlePass(scope.$index, scope.row)"
            >通过</el-button
          >
          <el-button
            size="mini"
            type="danger"
            @click="reject(scope.$index, scope.row)"
            >拒绝</el-button
          >
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页组件 -->
    <el-pagination
      ref="pager"
      class="pt_page"
      @size-change="changeSize"
      @current-change="changeCurrent"
      :current-page="agencyTablePage.page"
      :page-sizes="[10, 20, 30, 40]"
      :page-size="agencyTablePage.rows"
      layout="total, sizes, prev, pager, next, jumper"
      :total="agencyTablePage.total"
    >
    </el-pagination>
    <!-- 审批未通过界面 -->
    <el-dialog
      title="退回"
      :visible.sync="rejectVisible"
      width="40%"
      destroy-on-close
    >
      <el-form label-width="120px" ref="editForm">
        <el-form-item label="摊主身份证号">
          <el-input
            size="small"
            v-model="info.id"
            auto-complete="off"
            readonly
          ></el-input>
        </el-form-item>
        <el-form-item label="摊位名称">
          <el-input
            size="small"
            v-model="info.nickname"
            auto-complete="off"
            readonly
          ></el-input>
        </el-form-item>
        <el-form-item label="摊位地址">
          <el-input
            size="small"
            v-model="info.address"
            auto-complete="off"
            readonly
          ></el-input>
        </el-form-item>
        <el-form-item label="拒绝原因">
          <el-input type="textarea" v-model="rejectInfo"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button size="mini" @click="rejectVisible = false">取消</el-button>
        <el-button
          size="mini"
          type="primary"
          :loading="loading"
          class="title"
          @click="submit"
          >保存</el-button
        >
      </div>
    </el-dialog>
    <!-- 划分等级 -->
    <el-dialog
      title="划分等级"
      :visible.sync="passVisible"
      width="40%"
      destroy-on-close
    >
      <el-form label-width="120px">
        <el-form-item label="摊位等级">
          <el-input size="small" v-model="level" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button size="mini" @click="passVisible = false">取消</el-button>
        <el-button
          size="mini"
          type="primary"
          :loading="loading"
          class="title"
          @click="submitPass"
          >保存</el-button
        >
      </div>
    </el-dialog>
  </div>
</template>
<script>
import api from "../api/index";
export default {
  data() {
    return {
      // 分页
      agencyTablePage: {
        page: 1,
        rows: 30,
        total: 0,
      },
      rejectVisible: false,
      passVisible: false,
      level: "",
      passData: [],
      listData: [],
      info: [],
      rejectInfo: "",
      loading: false, //是显示加载
    };
  },
  created() {
    this.getList(this.agencyTablePage.page, this.agencyTablePage.rows);
  },
  methods: {
    getList(page, size) {
      const data = "state=0";
      api.getShopperList(page, size, data).then((res) => {
        const data = res.data;
        if (data.code === 200) {
          this.listData = data.data.list;
          this.agencyTablePage.total = data.data.total;
        }
      });
    },
    changeSize(rows) {
      this.agencyTablePage.rows = rows;
      this.getList(this.agencyTablePage.page, rows);
    },
    changeCurrent(current) {
      this.agencyTablePage.page = current
      this.getList(current, this.agencyTablePage.rows);
    },
    handlePass(index, row) {
      this.$confirm("确认通过审批吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        cancelButtonClass: "confirm_cancel",
        confirmButtonClass: "confirm_sure",
      }).then(() => {
        this.passData = row;
        this.passVisible = true;
      });
    },
    submitPass() {
      this.passData.state = 1;
      this.passData.user = this.$store.state.userInfo.id;
      this.passData.level = this.level;
      api.updateState(this.passData).then((res) => {
        const data = res.data;
        if (data.code === 200) {
          this.$message({
            type: "success",
            message: "审批成功",
          });
          this.passVisible = false;
          this.getList(this.agencyTablePage.page, this.agencyTablePage.rows);
        } else {
          this.$message({
            type: "warning",
            message: "审批失败",
          });
        }
      });
    },
    reject(index, row) {
      this.rejectVisible = true;
      this.info = row;
    },
    submit() {
      console.log(this.info);
      this.info.state = -1;
      this.info.user = this.$store.state.userInfo.id;
      api.updateState(this.info).then((res) => {
        const data = res.data;
        if (data.code === 200) {
          this.$message({
            type: "success",
            message: "拒绝信息已反馈成功",
          });
          this.rejectVisible = false;
          this.getList(this.agencyTablePage.page, this.agencyTablePage.rows);
        }
      });
    },
  },
};
</script>
