<template>
  <div>
    <!-- 面包屑导航 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>系统管理</el-breadcrumb-item>
      <el-breadcrumb-item>摊位申报</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 主体内容 -->
    <el-row>
      <!-- title -->
      <div class="modt-box">摊位申报</div>
      <el-row class="content_center">
        <el-col :span="12">
          <el-form ref="form" :model="form" label-width="80px" :rules="rules">
            <el-form-item label="摊位名称" prop="shopperName">
              <el-input size="small" v-model="form.shopperName"></el-input>
            </el-form-item>
            <el-form-item label="摊主姓名" prop="name">
              <el-input size="small" v-model="form.name"></el-input>
            </el-form-item>
            <el-form-item label="身份证号" prop="ID">
              <el-input size="small" v-model="form.ID"></el-input>
            </el-form-item>
            <el-form-item label="摊床位置" prop="address">
              <el-input size="small" v-model="form.address"></el-input>
            </el-form-item>
            <el-form-item label="经营内容" prop="info">
              <el-input size="small" v-model="form.info"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button size="small" type="primary" @click="submit"
                >提交</el-button
              >
              <el-button size="small" @click="resetForm"
                >重置</el-button
              >
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </el-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        shopperName: "",
        name: "",
        ID: "",
        address: "",
        info: "",
      },
      // rules表单验证
      rules: {
        shopperName: [
          { required: true, message: "请输入摊位名称", trigger: "blur" },
        ],
        name: [{ required: true, message: "请输入摊主姓名", trigger: "blur" }],
        ID: [{ required: true, message: "请输入身份证号", trigger: "blur" }],
        address: [
          { required: true, message: "请输入摊位地址", trigger: "blur" },
        ],
        info: [{ required: true, message: "请输入经营内容", trigger: "blur" }],
      },
      fmenu: [],
    };
  },
  created() {},
  methods: {
    submit() {},
    resetForm() {
      this.form.name = "";
      this.form.shopperName = "";
      this.form.address = "";
      this.form.info = "";
      this.form.ID = "";
    },
  },
};
</script>
 