<template>
  <div>
    <!-- 面包屑导航 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>系统管理</el-breadcrumb-item>
      <el-breadcrumb-item>菜单管理</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 主体内容 -->
    <el-row style="margin-top: 20px">
      <el-col :span="4"> </el-col>
      <div class="mod-btnbox" style="padding-right: 53px">
        <el-button size="mini" type="primary" @click="addMenu = true"
          >添加菜单</el-button
        >
        <el-button size="mini" @click="editMenuDetail">修改菜单</el-button>
        <el-button size="mini" type="danger" @click="deleteMenu"
          >删除菜单</el-button
        >
        <el-button
          size="mini"
          type="primary"
          @click="addFoodInfo"
          style="float: right"
          >添加商品</el-button
        >
      </div>
      <el-col :span="6">
        <el-tree
          class="treeclass"
          ref="tree"
          :data="treeData"
          default-expand-all
          :props="defaultProps"
          @node-click="nodeclick"
          check-strictly
          node-key="id"
        ></el-tree>
      </el-col>
      <el-col :span="16" style="margin-left: 40px">
        <!--列表-->
        <el-table
          size="small"
          :data="listData"
          highlight-current-row
          v-loading="loading"
          border
          element-loading-text="拼命加载中"
          style="width: 100%"
        >
          <el-table-column prop="nickname" label="商品名称" width="150">
          </el-table-column>
          <el-table-column sortable prop="price" label="单价" width="100">
          </el-table-column>
          <el-table-column prop="size" label="规格" width="100">
          </el-table-column>
          <el-table-column label="图片" width="200">
            <template slot-scope="scope">
              <img
                :src="'http://bsmanage.frpgz1.idcfengye.com/nightmarket/'+ scope.row.img"
                width="100px"
                height="100px"
                :preview-src-list="['http://bsmanage.frpgz1.idcfengye.com/nightmarket/'+ scope.row.img]"
                class="head_pic"
              />
            </template>
          </el-table-column>
          <el-table-column
            align="center"
            label="操作"
            min-width="150"
            fixed="right"
          >
            <template slot-scope="scope">
              <el-button
                size="mini"
                @click="handleEdit(scope.$index, scope.row)"
                >编辑</el-button
              >
              <el-button
                size="mini"
                type="danger"
                @click="deleteFood(scope.$index, scope.row)"
                >删除</el-button
              >
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页组件 -->
        <el-pagination
          ref="pager"
          class="pt_page"
          @size-change="changeSize"
          @current-change="changeCurrent"
          :current-page="agencyTablePage.page"
          :page-sizes="[10, 20, 30, 40]"
          :page-size="agencyTablePage.rows"
          layout="total, sizes, prev, pager, next, jumper"
          :total="agencyTablePage.total"
        >
        </el-pagination>
      </el-col>
    </el-row>
    <!-- 添加菜单 -->
    <el-dialog
      title="添加菜单"
      :visible.sync="addMenu"
      width="30%"
      destroy-on-close
    >
      <el-row class="content_center">
        <el-col :span="18">
          <el-form ref="form" :model="form" label-width="80px" :rules="rules">
            <el-form-item label="父级菜单" prop="parent">
              <el-select v-model="form.parent" size="mini" placeholder="请选择">
                <el-option
                  v-for="item in options"
                  :key="item.id"
                  :label="item.nickname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="菜单名称" prop="nickname">
              <el-input size="mini" v-model="form.nickname"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button size="small" type="primary" @click="submit('form')"
                >添加</el-button
              >
              <el-button size="small" @click="resetForm">取消</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </el-dialog>
    <!-- 修改菜单 -->
    <el-dialog
      title="修改菜单"
      :visible.sync="editMenu"
      width="30%"
      destroy-on-close
    >
      <el-row class="content_center">
        <el-col :span="18">
          <el-form
            ref="editform"
            :model="editform"
            label-width="80px"
            :rules="editformRules"
          >
            <el-form-item label="父级菜单" prop="parent">
              <el-select
                v-model="editform.parent"
                size="mini"
                placeholder="请选择"
              >
                <el-option
                  v-for="item in options"
                  :key="item.id"
                  :label="item.nickname"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="菜单名称" prop="nickname">
              <el-input size="mini" v-model="editform.nickname"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button size="small" type="primary" @click="edit('editform')"
                >修改</el-button
              >
              <el-button size="small" @click="editMenu = false">取消</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </el-dialog>
    <!-- 添加商品 -->
    <el-dialog
      title="添加商品"
      :visible.sync="addFood"
      width="50%"
      destroy-on-close
    >
      <el-row class="content_center">
        <el-col :span="18">
          <el-form
            ref="food"
            :model="food"
            label-width="80px"
            :rules="foodRules"
          >
            <el-form-item label="商品名称" prop="nickname">
              <el-input size="small" v-model="food.nickname"></el-input>
            </el-form-item>
            <el-form-item label="单价" prop="price">
              <el-input size="small" v-model="food.price"></el-input>
            </el-form-item>
            <el-form-item label="特价" prop="sale">
              <el-input size="small" v-model="food.sale"></el-input>
            </el-form-item>
            <el-form-item label="规格" prop="size">
              <el-input size="small" v-model="food.size"></el-input>
            </el-form-item>
            <el-form-item label="上传图片">
              <el-upload
                class="upload-demo"
                action="http://bsmanage.frpgz1.idcfengye.com/nightmarket/file/upload"
                :on-success="handleSuccess"
              >
                <el-button size="small" type="primary">点击上传</el-button>
                <div slot="tip" class="el-upload__tip">
                  只能上传jpg/png文件，且不超过500kb
                </div>
              </el-upload>
            </el-form-item>
            <el-form-item label="图片url" prop="img">
              <el-input size="small" v-model="food.img" readonly></el-input>
            </el-form-item>
            <el-form-item label="商品详情" prop="info">
              <el-input
                size="small"
                v-model="food.info"
                auto-complete="off"
                placeholder="请输入商品详情"
                type="textarea"
              ></el-input>
            </el-form-item>
            <el-form-item label="热卖商品" prop="ishot">
              <el-radio-group v-model="food.ishot">
                <el-radio :label="0">否</el-radio>
                <el-radio :label="1">是</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item>
              <el-button size="small" type="primary" @click="submitFood('food')"
                >添加</el-button
              >
              <el-button size="small" @click="resetFood">取消</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </el-dialog>
    <!-- 修改商品 -->
    <el-dialog
      title="修改商品信息"
      :visible.sync="editFood"
      width="50%"
      destroy-on-close
    >
      <el-row class="content_center">
        <el-col :span="18">
          <el-form ref="editInfo" :model="editInfo" label-width="80px">
            <el-form-item label="商品名称">
              <el-input size="small" v-model="editInfo.nickname"></el-input>
            </el-form-item>
            <el-form-item label="单价">
              <el-input size="small" v-model="editInfo.price"></el-input>
            </el-form-item>
            <el-form-item label="规格">
              <el-input size="small" v-model="editInfo.size"></el-input>
            </el-form-item>
            <el-form-item label="上传图片">
              <el-upload
                class="upload-demo"
                action="http://bsmanage.frpgz1.idcfengye.com/nightmarket/file/upload"
                :on-success="editSuccess"
              >
                <el-button size="small" type="primary">点击上传</el-button>
                <div slot="tip" class="el-upload__tip">
                  只能上传jpg/png文件，且不超过500kb
                </div>
              </el-upload>
            </el-form-item>
            <el-form-item label="图片url" prop="img">
              <el-input size="small" v-model="editInfo.img" readonly></el-input>
            </el-form-item>
            <el-form-item>
              <el-button size="small" type="primary" @click="editFoodInfo"
                >修改</el-button
              >
              <el-button size="small" @click="editFood = false">取消</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </el-dialog>
  </div>
</template>

<script>
import api from "./api/index";
export default {
  data() {
    return {
      loading: false, //是显示加载
      listData: [],
      options: [],
      addMenu: false,
      editMenu: false,
      addFood: false,
      editFood: false,
      hastreeData: false,
      editInfo: [],
      treeData: [],
      menuData: [],
      currentNodeInfo: [],
      defaultProps: {
        children: "children",
        label: "nickname",
      },
      form: {
        nickname: "",
        parent: "",
      },
      editform: {
        nickname: "",
        parent: "",
      },
      food: {
        img: "",
        info: "",
        ishot: 0,
        nickname: "",
        price: 0,
        sale: 0,
        shopper: "",
        size: "",
        type: "",
      },
      // 分页
      agencyTablePage: {
        page: 1,
        rows: 30,
        total: 0,
      },
      // rules表单验证
      rules: {
        nickname: [
          { required: true, message: "请输入菜单名称", trigger: "blur" },
        ],
        specification: [
          { required: true, message: "请输入规格", trigger: "blur" },
        ],
        menuUrl: [{ required: true, message: "请输入URL", trigger: "blur" }],
        price: [{ required: true, message: "请输入单价", trigger: "blur" }],
      },
      editformRules: {
        nickname: [
          { required: true, message: "请输入菜单名称", trigger: "blur" },
        ],
      },
      foodRules: {
        nickname: [
          { required: true, message: "请输入商品名称", trigger: "blur" },
        ],
        size: [{ required: true, message: "请输入规格", trigger: "blur" }],
        img: [{ required: true, message: "请输入URL", trigger: "blur" }],
        price: [{ required: true, message: "请输入单价", trigger: "blur" }],
      },
      fmenu: [],
    };
  },
  created() {
    this.getmenu(1, 100);
  },
  methods: {
    // 将列表格式化树
    transform() {
      const list = [];
      this.menuData.forEach((item) => {
        if (item.parent === null || item.parent === "") {
          list.push({ ...item, children: this.tree(item.id) });
        }
      });
      return list;
    },
    tree(parentId) {
      const tree = [];
      this.menuData.forEach((item) => {
        if (item.parent === parentId) {
          tree.push({ ...item, children: this.tree(this.list, item.id) });
        }
      });
      return tree;
    },
    // 获取所有菜单
    getmenu(page, size) {
      var data = "shopper=" + this.$store.state.userInfo.id;
      api.getMenu(page, size, data).then((res) => {
        if (res.data.code === 200) {
          this.options = res.data.data.list;
          this.menuData = res.data.data.list;
          this.treeData = this.transform();
        } else {
          this.$message({
            showClose: true,
            message: res.data.message,
            type: "warning",
          });
        }
      });
    },
    // 新增菜单
    submit(editData) {
      this.$refs[editData].validate((valid) => {
        if (valid) {
          const commoditytype = {
            shopper: this.$store.state.userInfo.id,
            nickname: this.form.nickname,
            parent: this.form.parent,
          };
          api.addMenu(commoditytype).then((res) => {
            if (res.data.code === 200) {
              this.$message({
                type: "success",
                message: res.data.message,
              });
              this.addMenu = false;
              this.getmenu(1, 100);
              this.form.nickname = "";
              this.form.parent = "";
            } else {
              this.$message({
                showClose: true,
                message: res.data.message,
                type: "warning",
              });
            }
          });
        } else {
          return false;
        }
      });
    },
    // 修改菜单
    editMenuDetail() {
      let currentNode = this.$refs.tree.getCurrentNode();
      if (currentNode && currentNode != null && currentNode.id !== "0") {
        this.editform = currentNode;
        this.editMenu = true;
      } else if (currentNode && currentNode != null && currentNode.id === "0") {
        this.$message({
          showClose: true,
          message: "不能选择顶级分类",
          type: "warning",
        });
      } else {
        this.$message({
          showClose: true,
          message: "请选择一条分类",
          type: "warning",
        });
      }
    },
    edit(editData) {
      this.$refs[editData].validate((valid) => {
        if (valid) {
          api.updateMenu(this.editform).then((res) => {
            if (res.data.code === 200) {
              this.$message({
                showClose: true,
                message: res.data.message,
                type: "success",
              });
              this.editMenu = false;
              this.getmenu(1, 100);
            } else {
              this.$message({
                showClose: true,
                message: res.data.message,
                type: "warning",
              });
            }
          });
        } else {
          return false;
        }
      });
    },
    // 删除菜单
    deleteMenu() {
      let currentNode = this.$refs.tree.getCurrentNode();
      if (currentNode && currentNode != null && currentNode.id !== "0") {
        this.$confirm("确认删除菜单吗?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          cancelButtonClass: "confirm_cancel",
          confirmButtonClass: "confirm_sure",
        }).then(() => {
          api.deleteMenu(currentNode.id).then((res) => {
            if (res.data.code === 200) {
              this.$message({
                showClose: true,
                message: res.data.message,
                type: "success",
              });
              this.getmenu(1, 100);
            } else {
              this.$message({
                showClose: true,
                message: res.data.message,
                type: "warning",
              });
            }
          });
        });
      } else if (currentNode && currentNode != null && currentNode.id === "0") {
        this.$message({
          showClose: true,
          message: "不能选择顶级分类",
          type: "warning",
        });
      } else {
        this.$message({
          showClose: true,
          message: "请选择一条分类",
          type: "warning",
        });
      }
    },
    // 取消添加菜单
    resetForm() {
      this.form.nickname = "";
      this.form.parent = "";
      this.addMenu = false;
    },
    // 点击节点获取商品
    getFood(params) {
      api.getFood(this.$store.state.userInfo.id, params).then((res) => {
        if (res.data.code === 200) {
          this.listData = res.data.data.list;
          this.agencyTablePage.total = res.data.data.total;
        }
      });
    },
    nodeclick(arr, node, self) {
      this.currentNodeInfo = arr;
      const data = {
        page: this.agencyTablePage.page,
        size: this.agencyTablePage.rows,
        typeid: this.currentNodeInfo.id,
      };
      this.getFood(data);
    },
    changeSize(val) {
      this.agencyTablePage.rows = val;
      const data = {
        page: this.agencyTablePage.page,
        size: val,
        typeid: this.currentNodeInfo.id,
      };
      this.getFood(data);
    },
    changeCurrent(current) {
      this.agencyTablePage.page = current;
      const data = {
        page: current,
        size: this.agencyTablePage.rows,
        typeid: this.currentNodeInfo.id,
      };
      this.getFood(data);
    },
    // 保存商品
    submitFood(editData) {
      this.$refs[editData].validate((valid) => {
        if (valid) {
          this.food.type = this.currentNodeInfo.id;
          this.food.shopper = this.$store.state.userInfo.id;
          api.addFood(this.food).then((res) => {
            if (res.data.code === 200) {
              this.$message({
                type: "success",
                message: res.data.message,
              });
              this.addFood = false;
              const data = {
                page: this.agencyTablePage.page,
                size: this.agencyTablePage.rows,
                typeid: this.currentNodeInfo.id,
              };
              this.getFood(data);
            } else {
              this.$message({
                showClose: true,
                message: res.data.message,
                type: "warning",
              });
            }
          });
        } else {
          return false;
        }
      });
    },
    resetFood() {
      this.food.nickname = "";
      this.food.img = "";
      this.food.price = "";
      this.food.sale = "";
      this.food.size = "";
      this.addFood = false;
    },
    //商品编辑界面
    handleEdit: function (index, row) {
      this.editFood = true;
      if (row != undefined && row != "undefined") {
        this.editInfo = row;
      }
    },
    // 修改商品信息
    editFoodInfo() {
      api.updateFood(this.editInfo).then((res) => {
        if (res.data.code === 200) {
          this.$message({
            type: "success",
            message: res.data.message,
          });
          this.editFood = false;
          const data = {
            page: this.agencyTablePage.page,
            size: this.agencyTablePage.rows,
            typeid: this.currentNodeInfo.id,
          };
          this.getFood(data);
        } else {
          this.$message({
            showClose: true,
            message: res.data.message,
            type: "warning",
          });
        }
      });
    },
    //删除商品界面
    deleteFood: function (index, row) {
      this.$confirm("确认删除商品吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        cancelButtonClass: "confirm_cancel",
        confirmButtonClass: "confirm_sure",
      }).then(() => {
        api.deleteFood(row.id).then((res) => {
          if (res.data.code === 200) {
            this.$message({
              type: "success",
              message: res.data.message,
            });
            const data = {
              page: this.agencyTablePage.page,
              size: this.agencyTablePage.rows,
              typeid: this.currentNodeInfo.id,
            };
            this.getFood(data);
          } else {
            this.$message({
              showClose: true,
              message: res.data.message,
              type: "warning",
            });
          }
        });
      });
    },
    // 添加商品
    addFoodInfo() {
      let currentNode = this.$refs.tree.getCurrentNode();
      if (currentNode && currentNode != null && currentNode.id !== "0") {
        this.food.img = "";
        this.food.info = "";
        this.food.nickname = "";
        this.food.shopper = "";
        this.food.size = "";
        this.food.type = "";
        this.food.price = 0;
        this.food.sale = 0;
        this.food.ishot = 0;
        this.addFood = true;
        this.info = currentNode;
      } else if (currentNode && currentNode != null && currentNode.id === "0") {
        this.$message({
          showClose: true,
          message: "不能选择顶级分类",
          type: "warning",
        });
      } else {
        this.$message({
          showClose: true,
          message: "请选择一条分类",
          type: "warning",
        });
      }
    },
    handleSuccess(response, file, fileList) {
      console.log(response, file, fileList);
      if (response.code === 200) {
        this.$message({
          type: "success",
          message: response.message,
        });
        this.food.img = response.data;
      }
    },
    editSuccess(response, file, fileList) {
      console.log(response, file, fileList);
      if (response.code === 200) {
        this.$message({
          type: "success",
          message: response.message,
        });
        this.editInfo.img = response.data;
      }
    },
  },
};
</script>
 