<template>
  <div>
    <!-- 面包屑导航 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>系统管理</el-breadcrumb-item>
      <el-breadcrumb-item>销售管理</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 搜索筛选 -->
    <!-- <el-form :inline="true" :model="formInline" class="user-search">
      <el-form-item>
        <el-select
          v-model="searchValue"
          size="mini"
          @change="reset"
          placeholder="请选择"
        >
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-input
          size="small"
          v-model="valueInfo"
          placeholder="输入搜索值"
        ></el-input>
      </el-form-item>
      <el-form-item>
        <el-button
          size="small"
          type="primary"
          icon="el-icon-search"
          @click="search"
          >搜索</el-button
        >
      </el-form-item>
    </el-form> -->
    <!--列表-->
    <el-table
      size="small"
      :data="listData"
      highlight-current-row
      v-loading="loading"
      border
      element-loading-text="拼命加载中"
      style="width: 100%; margin-top: 40px"
    >
      <el-table-column prop="commodity" label="商品名称" width="200">
      </el-table-column>
      <el-table-column prop="price" label="平均单价"> </el-table-column>
      <el-table-column prop="rate" label="平均评分" width="200">
      </el-table-column>
      <el-table-column sortable prop="quantity" label="销量"> </el-table-column>
      <el-table-column prop="allprice" label="总销售额" width="200">
      </el-table-column>
    </el-table>
    <!-- 分页组件 -->
    <el-pagination
      ref="pager"
      class="pt_page"
      @size-change="changeSize"
      @current-change="changeCurrent"
      :current-page="agencyTablePage.page"
      :page-sizes="[10, 20, 30, 40]"
      :page-size="agencyTablePage.rows"
      layout="total, sizes, prev, pager, next, jumper"
      :total="agencyTablePage.total"
    >
    </el-pagination>
  </div>
</template>

<script>
import api from "./api/index";
export default {
  data() {
    return {
      // 分页
      agencyTablePage: {
        page: 1,
        rows: 30,
        total: 0,
      },
      loading: false, //是显示加载
      listData: [],
      formInline: {
        page: 1,
        limit: 10,
        varLable: "",
        varName: "",
        token: localStorage.getItem("logintoken"),
      },
      searchValue: "1",
      valueInfo: "",
      options: [
        {
          label: "摊位名称",
          value: "1",
        },
        {
          label: "摊位地址",
          value: "2",
        },
        {
          label: "经营内容",
          value: "3",
        },
      ],
    };
  },
  watch: {},
  created() {
    var data = {
      page: this.agencyTablePage.page,
      size: this.agencyTablePage.rows,
    };
    this.getList(data);
  },
  methods: {
    getList(data) {
      api.getSalesInfo(this.$store.state.userInfo.id, data).then((res) => {
        if (res.data.code === 200) {
          this.listData = res.data.data.list;
          this.agencyTablePage.total = res.data.data.total;
        } else {
          this.$message({
            showClose: true,
            message: res.data.message,
            type: "warning",
          });
        }
      });
    },
    changeSize(val) {
      this.agencyTablePage.rows = val;
      var data = {
        page: this.agencyTablePage.page,
        size: val,
      };
      this.getList(data);
    },
    changeCurrent(val) {
      this.agencyTablePage.page = val;
      var data = {
        page: val,
        size: this.agencyTablePage.rows,
      };
      this.getList(data);
    },
    // 搜索事件
    // search() {
    //   this.getdata(this.formInline);
    // },
  },
};
</script>
 