<template>
  <div>
    <!-- 面包屑导航 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>系统管理</el-breadcrumb-item>
      <el-breadcrumb-item>个人中心</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 主体内容 -->
    <el-row>
      <!-- title -->
      <div class="modt-box">修改个人信息</div>
      <el-row class="content_center">
        <el-col :span="12">
          <el-form ref="form" :model="form" label-width="80px">
            <el-form-item label="摊位名称">
              <el-input
                size="small"
                v-model="form.Shopper.nickname"
                readonly
              ></el-input>
            </el-form-item>
            <el-form-item label="摊主姓名">
              <el-input
                size="small"
                v-model="form.User.nickname"
                readonly
              ></el-input>
            </el-form-item>
            <el-form-item label="身份证号">
              <el-input size="small" v-model="form.User.id" readonly></el-input>
            </el-form-item>
            <el-form-item label="摊床位置">
              <el-input
                size="small"
                v-model="form.Shopper.address"
                readonly
              ></el-input>
            </el-form-item>
            <el-form-item label="缴费状态">
              <el-input
                size="small"
                v-model="form.Shopper.priceState"
                auto-complete="off"
                readonly
              ></el-input>
            </el-form-item>
            <el-form-item label="联系方式">
              <el-input size="small" v-model="form.User.tel"></el-input>
            </el-form-item>
            <el-form-item label="经营内容">
              <el-input size="small" v-model="form.Shopper.info"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button size="small" type="primary" @click="submit"
                >保存</el-button
              >
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </el-row>
  </div>
</template>

<script>
import api from "./api/index";
export default {
  data() {
    return {
      form: {
        Shopper: {
          address: "",
          id: "",
          info: "",
          level: 1,
          nickname: "",
          price: 0,
          priceState: 0,
          state: 1,
          timeadd: "",
          timeupdate: "",
          type: null,
          user: "",
        },
        User: {
          id: "",
          loginname: "",
          nickname: "",
          password: "",
          role: 0,
          tel: "",
          timeadd: "",
          timeupdate: "",
        },
      },
      fmenu: [],
    };
  },
  created() {
    this.getInfo();
  },
  methods: {
    getInfo() {
      var user = this.$store.state.userInfo;
      api.getShopperInfo(user.id).then((res) => {
        const data = res.data;
        if (data.code === 200) {
          this.form = data.data;
        }
      });
    },
    submit() {
      console.log(this.form);
      api.updateShopperInfo(this.form).then((res) => {
        const data = res.data;
        if (data.code === 200) {
          this.$message({
            type: "success",
            message: data.message,
          });
          this.getInfo();
        }
      });
    },
  },
};
</script>
 