.el-aside::-webkit-scrollbar,
.el-main::-webkit-scrollbar {
  width: 0 !important
}
.el-aside,
.el-main {
  -ms-overflow-style: none;
}
.el-aside,
.el-main {
  overflow: -moz-scrollbars-none;
}
.content_center{
  display: flex;
  justify-content: center;
}
.modt-box {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f0f2f5;
  text-align: center;
  color: #334157;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
}
.treeclass {
  border: 1px solid #f3f3f3;
  padding-top: 20px;
  padding-bottom: 20px;
}
.mod-btnbox {
  margin-bottom: 20px;
}
.user-search {
  margin-top: 20px;
}
.userRole {
  width: 100%;
}
.el-breadcrumb{
  font-weight: 700;
}