<template>
<div>
    <div class="errorpage_container">
      <div class="errorpage_subject subject-404">
          <img class="img-responsive" src="@/assets/abnomal/404-subject.png">
      </div>
      <div class="errorpage_text text-404">
          <p>哎呀，</p>
          <p>页面不见了！</p>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: 'error404'

}
</script>
<style scoped>
    @import "../../../style/abnormal/abnormal.css";
</style>
