<template>
<div>
  <div class="errorpage_container">
    <div class="errorpage_subject subject-unknown">
      <img class="img-responsive" src="@/assets/abnomal/unknown-subject.png">
    </div>
    <div class="errorpage_text text-unknown">
        <p>抱歉，</p>
        <p>未知的错误！</p>
    </div>
  </div>
</div>
</template>
<script>

export default {
  name: 'unknown'

}
</script>
<style scoped>
    @import "../../../style/abnormal/abnormal.css";
</style>
