<template>
  <div>
    <!-- 面包屑导航 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>基础管理</el-breadcrumb-item>
      <el-breadcrumb-item>商品评价</el-breadcrumb-item>
    </el-breadcrumb>
    <!--列表-->
    <el-table
      size="small"
      :data="listData"
      highlight-current-row
      v-loading="loading"
      border
      element-loading-text="拼命加载中"
      style="width: 100%';margin-top: 20px"
    >
      <el-table-column prop="Sorder.id" label="订单编号" width="200">
      </el-table-column>
      <el-table-column prop="Shopper.nickname" label="商家名称" width="150">
      </el-table-column>
      <el-table-column sortable prop="Sorder.price" label="总价" width="150">
      </el-table-column>
      <el-table-column prop="Sorder.timeadd" label="下单时间" width="150">
        <template slot-scope="scope">
          <div>{{ scope.row.Sorder.timeadd }}</div>
        </template>
      </el-table-column>
      <el-table-column
        align="center"
        label="操作"
        min-width="100"
        fixed="right"
      >
        <template slot-scope="scope">
          <el-button size="mini" @click="getShopperInfo(scope.row.Sorder)"
            >详情</el-button
          >
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页组件 -->
    <el-pagination
      ref="pager"
      class="pt_page"
      @size-change="changeSize"
      @current-change="changeCurrent"
      :current-page="agencyTablePage.page"
      :page-sizes="[10, 20, 30, 40]"
      :page-size="agencyTablePage.rows"
      layout="total, sizes, prev, pager, next, jumper"
      :total="agencyTablePage.total"
    >
    </el-pagination>

    <!-- 商品详情界面 -->
    <el-dialog
      title="商品详情"
      :visible.sync="infoVisible"
      width="80%"
      destroy-on-close
    >
      <!--列表-->
      <el-table
        size="small"
        :data="shopperInfoData"
        highlight-current-row
        v-loading="loading"
        border
        element-loading-text="拼命加载中"
        style="width: 100%';margin-top: 20px"
      >
        <el-table-column prop="sorder" label="订单编号" width="200">
        </el-table-column>
        <el-table-column prop="id" label="商品编号" width="150">
        </el-table-column>
        <el-table-column prop="quantity" label="数量" width="150">
        </el-table-column>
        <el-table-column sortable prop="allprice" label="总价" width="150">
        </el-table-column>
        <el-table-column prop="timeadd" label="下单时间" width="150">
          <template slot-scope="scope">
            <div>{{ scope.row.timeadd }}</div>
          </template>
        </el-table-column>
        <el-table-column
          align="center"
          label="操作"
          min-width="100"
          fixed="right"
        >
          <template slot-scope="scope">
            <el-button
              size="mini"
              @click="commit(scope.$index, scope.row)"
              :disabled="scope.row.commit !== null && scope.row.commit !== ''"
              >评价</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页组件 -->
      <el-pagination
        ref="pager"
        class="pt_page"
        @size-change="changeInfoSize"
        @current-change="changeInfoCurrent"
        :current-page="infoTablePage.page"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="infoTablePage.rows"
        layout="total, sizes, prev, pager, next, jumper"
        :total="infoTablePage.total"
      >
      </el-pagination>
      <!-- 商品评价界面 -->
      <el-dialog
        title="商品评价"
        :visible.sync="commitVisible"
        width="30%"
        append-to-body
        destroy-on-close
      >
        <el-form label-width="120px" ref="editForm">
          <el-form-item label="评分">
            <el-rate v-model="score" show-text :colors="colors"> </el-rate>
          </el-form-item>
          <el-form-item label="评价">
            <el-input
              size="small"
              v-model="commitValue"
              auto-complete="off"
              placeholder="请输入评价"
              type="textarea"
            ></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button size="small" @click="commitVisible = false"
            >取消</el-button
          >
          <el-button
            size="small"
            type="primary"
            :loading="loading"
            class="title"
            @click="submitForm"
            >保存</el-button
          >
        </div>
      </el-dialog>
    </el-dialog>
  </div>
</template>

<script>
import api from "./api/index";
export default {
  data() {
    return {
      // 分页
      agencyTablePage: {
        page: 1,
        rows: 30,
        total: 0,
      },
      infoTablePage: {
        page: 1,
        rows: 30,
        total: 0,
      },
      shopperInfoData: [],
      listData: [],
      rowInfo: [],
      loading: false,
      commitVisible: false,
      infoVisible: false,
      score: null,
      commitInfo: "",
      commitValue: "",
      colors: ["#99A9BF", "#F7BA2A", "#FF9900"],
    };
  },
  created() {
    this.getList(this.agencyTablePage.page, this.agencyTablePage.rows);
  },
  methods: {
    getList(page, size) {
      var data = "user=" + this.$store.state.userInfo.id + "&fktype=1";
      api.getCommit(page, size, data).then((res) => {
        if (res.data.code === 200) {
          this.listData = res.data.data.list;
          this.agencyTablePage.total = res.data.data.total;
        } else {
          this.$message({
            showClose: true,
            message: res.data.message,
            type: "warning",
          });
        }
      });
    },
    changeSize(val) {
      this.agencyTablePage.rows = val;
      this.getList(this.agencyTablePage.page, val);
    },
    changeCurrent(val) {
      this.agencyTablePage.page = val;
      this.getList(val, this.agencyTablePage.rows);
    },
    commit(index, row) {
      this.commitVisible = true;
      this.commitInfo = row;
    },
    submitForm() {
      // 调用保存评论接口
      this.commitInfo.commit = this.commitValue;
      this.commitInfo.rate = this.score;
      api.saveCommit(this.commitInfo).then((res) => {
        if (res.data.code === 200) {
          this.$message({
            type: "success",
            message: res.data.message,
          });
          this.commitVisible = false;
          this.getShopperInfo();
        } else {
          this.$message({
            showClose: true,
            message: res.data.message,
            type: "warning",
          });
        }
      });
    },
    getShopperInfo(row) {
      row ? (this.rowInfo = row) : "";
      var data = row ? "sorder=" + row.id : "sorder=" + this.rowInfo.id;
      api
        .getCommitInfo(this.infoTablePage.page, this.infoTablePage.rows, data)
        .then((res) => {
          if (res.data.code === 200) {
            this.shopperInfoData = res.data.data.list;
            this.infoTablePage.total = res.data.data.total;
            this.infoVisible = true;
          } else {
            this.$message({
              showClose: true,
              message: res.data.message,
              type: "warning",
            });
          }
        });
    },
    changeInfoSize(val) {
      this.infoTablePage.rows = val;
      this.getShopperInfo();
    },
    changeInfoCurrent(val) {
      this.infoTablePage.page = val;
      this.getShopperInfo();
    },
  },
};
</script>
 