<template>
  <div>
    <!-- 面包屑导航 -->
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item>基础管理</el-breadcrumb-item>
      <el-breadcrumb-item>商品选购</el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 搜索筛选 -->
    <el-form :inline="true" class="user-search">
      <el-form-item>
        <el-select
          v-model="searchValue"
          size="mini"
          @change="reset"
          placeholder="请选择"
        >
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-input
          size="small"
          v-model="valueInfo"
          placeholder="输入搜索值"
        ></el-input>
      </el-form-item>
      <el-form-item>
        <el-button
          size="small"
          type="primary"
          icon="el-icon-search"
          @click="search"
          >搜索</el-button
        >
      </el-form-item>
    </el-form>
    <!--列表-->
    <el-table
      size="small"
      :data="listData"
      highlight-current-row
      v-loading="loading"
      border
      element-loading-text="拼命加载中"
      style="width: 100%"
    >
      <el-table-column prop="nickname" label="摊位名称" width="200">
      </el-table-column>
      <el-table-column prop="address" label="摊位地址" width="300">
      </el-table-column>
      <el-table-column prop="info" label="经营内容" width="200">
      </el-table-column>
      <el-table-column align="center" label="操作" min-width="300">
        <template slot-scope="scope">
          <el-button size="mini" @click="purchase(scope.$index, scope.row)"
            >选购</el-button
          >
          <el-button size="mini" @click="order(scope.$index, scope.row)"
            >预定</el-button
          >
        </template>
      </el-table-column>
    </el-table>
    <!-- 分页组件 -->
    <el-pagination
      ref="pager"
      class="pt_page"
      @size-change="changeSize"
      @current-change="changeCurrent"
      :current-page="agencyTablePage.page"
      :page-sizes="[10, 20, 30, 40]"
      :page-size="agencyTablePage.rows"
      layout="total, sizes, prev, pager, next, jumper"
      :total="agencyTablePage.total"
    >
    </el-pagination>
    <!-- 商品选购界面 -->
    <el-dialog
      title="商品选购"
      :visible.sync="commodityPurchase"
      width="90%"
      destroy-on-close
    >
      <el-row>
        <!-- 购物车按钮 -->
        <div class="mod-btnbox">
          <el-button
            icon="el-icon-shopping-cart-2"
            circle
            @click="showShoppingInfo = true"
          ></el-button>
        </div>
        <!-- 菜单树 -->
        <el-col :span="6">
          <el-tree
            class="treeclass"
            ref="tree"
            :data="treeData"
            default-expand-all
            :props="defaultProps"
            @node-click="nodeclick"
            check-strictly
            node-key="id"
          ></el-tree>
        </el-col>
        <el-col :span="17" style="margin-left: 40px">
          <!--列表-->
          <el-table
            size="small"
            :data="purchaseData"
            highlight-current-row
            v-loading="loading"
            border
            element-loading-text="拼命加载中"
            style="width: 100%"
          >
            <el-table-column prop="nickname" label="商品名称" width="100">
            </el-table-column>
            <el-table-column sortable prop="price" label="单价" width="80">
            </el-table-column>
            <el-table-column prop="size" label="规格" width="50">
            </el-table-column>
            <el-table-column label="商品详情" prop="info"> </el-table-column>
            <el-table-column label="热卖商品" prop="ishot" width="50">
              <template slot-scope="scope">
                {{ scope.row.ishot === 1 ? "热卖中" : "非热卖商品" }}
              </template>
            </el-table-column>
            <el-table-column label="图片" width="100">
              <template slot-scope="scope">
                <img
                  :src="
                    'http://bsmanage.frpgz1.idcfengye.com/nightmarket/' +
                    scope.row.img
                  "
                  width="40"
                  height="40"
                  class="head_pic"
                />
              </template>
            </el-table-column>
            <el-table-column
              align="center"
              label="数量"
              prop="quantity"
              width="180"
            >
              <template slot-scope="scope">
                <el-input-number
                  size="mini"
                  v-model="scope.row.quantity"
                  :min="1"
                ></el-input-number>
              </template>
            </el-table-column>
            <el-table-column align="center" label="操作">
              <template slot-scope="scope">
                <el-button
                  size="mini"
                  @click="addPurchase(scope.$index, scope.row)"
                  :disabled="scope.row.quantity === undefined"
                  >加入购物车</el-button
                >
              </template>
            </el-table-column>
          </el-table>
          <!-- 分页组件 -->
          <el-pagination
            ref="pager"
            class="pt_page"
            @size-change="changePurchaseSize"
            @current-change="changePurchaseCurrent"
            :current-page="purchaseTablePage.page"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="purchaseTablePage.rows"
            layout="total, sizes, prev, pager, next, jumper"
            :total="purchaseTablePage.total"
          >
          </el-pagination>
        </el-col>
      </el-row>
      <div slot="footer" class="dialog-footer">
        <el-button size="small" @click="commodityPurchase = false"
          >关闭</el-button
        >
      </div>
      <!-- 商品选购购物车 -->
      <el-dialog
        title="购物车"
        :visible.sync="showShoppingInfo"
        width="60%"
        append-to-body
      >
        <el-row style="margin-bottom: 10px">
          <el-button
            size="mini"
            type="danger"
            :disabled="selectdatanum === 0 || selectdatanum === ''"
            @click="deletePurchaseFood"
            >删 除</el-button
          >
        </el-row>
        <el-table
          ref="purchaseDataTable"
          :data="purchaseArray"
          border
          max-height="276px"
          @selection-change="datasetselect"
        >
          <el-table-column align="center" type="selection" width="50" />
          <el-table-column align="center" label="商品名称" prop="nickname">
          </el-table-column>
          <el-table-column align="center" label="商品规格" prop="size">
          </el-table-column>
          <el-table-column align="center" label="单价" prop="price">
          </el-table-column>
          <el-table-column align="center" label="数量" prop="quantity">
          </el-table-column>
          <el-table-column align="center" label="总价" prop="allprice">
          </el-table-column>
        </el-table>
        <div slot="footer" class="dialog-footer">
          <el-button size="small" @click="showShoppingInfo = false"
            >取消</el-button
          >
          <el-button
            size="small"
            type="primary"
            :loading="loading"
            class="title"
            @click="addPurchaseOrder"
            >下单</el-button
          >
        </div>
      </el-dialog>
    </el-dialog>
    <!-- 商品预定界面 -->
    <el-dialog
      title="商品预订"
      :visible.sync="commodityOrder"
      width="90%"
      destroy-on-close
    >
      <el-row>
        <!-- 购物车按钮 -->
        <div class="mod-btnbox">
          <el-button
            icon="el-icon-shopping-cart-2"
            circle
            @click="showOrderInfo = true"
          ></el-button>
        </div>
        <!-- 菜单树 -->
        <el-col :span="6">
          <el-tree
            class="treeclass"
            ref="tree"
            :data="treeOrderData"
            default-expand-all
            :props="defaultProps"
            @node-click="nodeOrderclick"
            check-strictly
            node-key="id"
          ></el-tree>
        </el-col>
        <el-col :span="17" style="margin-left: 40px">
          <!--列表-->
          <el-table
            size="small"
            :data="orderData"
            highlight-current-row
            v-loading="loading"
            border
            element-loading-text="拼命加载中"
            style="width: 100%"
          >
            <el-table-column prop="nickname" label="商品名称" width="100">
            </el-table-column>
            <el-table-column sortable prop="price" label="单价" width="80">
            </el-table-column>
            <el-table-column prop="size" label="规格" width="50">
            </el-table-column>
            <el-table-column label="商品详情" prop="info"> </el-table-column>
            <el-table-column label="热卖商品" prop="ishot" width="50">
              <template slot-scope="scope">
                {{ scope.row.ishot === 1 ? "热卖中" : "非热卖商品" }}
              </template>
            </el-table-column>
            <el-table-column label="图片" width="100">
              <template slot-scope="scope">
                <img
                  :src="
                    'http://bsmanage.frpgz1.idcfengye.com/nightmarket/' +
                    scope.row.img
                  "
                  width="40"
                  height="40"
                  class="head_pic"
                />
              </template>
            </el-table-column>
            <el-table-column
              align="center"
              label="数量"
              prop="quantity"
              width="180"
            >
              <template slot-scope="scope">
                <el-input-number
                  size="mini"
                  v-model="scope.row.quantity"
                  :min="1"
                ></el-input-number>
              </template>
            </el-table-column>
            <el-table-column align="center" label="操作">
              <template slot-scope="scope">
                <el-button
                  size="mini"
                  @click="addOrderData(scope.$index, scope.row)"
                  :disabled="scope.row.quantity === undefined"
                  >加入购物车</el-button
                >
              </template>
            </el-table-column>
          </el-table>
          <!-- 分页组件 -->
          <el-pagination
            ref="pager"
            class="pt_page"
            @size-change="changeOrderSize"
            @current-change="changeOrderCurrent"
            :current-page="orderTablePage.page"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="orderTablePage.rows"
            layout="total, sizes, prev, pager, next, jumper"
            :total="orderTablePage.total"
          >
          </el-pagination>
        </el-col>
      </el-row>
      <div slot="footer" class="dialog-footer">
        <el-button size="small" @click="commodityOrder = false">关闭</el-button>
      </div>
      <!-- 商品预订购物车 -->
      <el-dialog
        title="购物车"
        :visible.sync="showOrderInfo"
        width="60%"
        append-to-body
      >
        <el-row style="margin-bottom: 10px">
          <el-col :span="3" style="margin-top: 8px">
            <el-button
              size="mini"
              type="danger"
              :disabled="orderselectdatanum === 0 || orderselectdatanum === ''"
              @click="deleteOrderFood"
              >删 除</el-button
            >
          </el-col>
          <el-col :span="21">
            <el-form>
              <el-form-item label="预定时间：">
                <el-date-picker
                  v-model="orderTime"
                  size="mini"
                  type="datetime"
                  format="yyyy-MM-dd HH:mm:ss"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  placeholder="选择日期时间"
                >
                </el-date-picker>
              </el-form-item>
            </el-form>
          </el-col>
        </el-row>
        <el-table
          ref="orderDataTable"
          :data="orderArray"
          border
          max-height="276px"
          @selection-change="dataordersetselect"
        >
          <el-table-column align="center" type="selection" width="50" />
          <el-table-column align="center" label="商品名称" prop="nickname">
          </el-table-column>
          <el-table-column align="center" label="商品规格" prop="size">
          </el-table-column>
          <el-table-column align="center" label="单价" prop="price">
          </el-table-column>
          <el-table-column align="center" label="数量" prop="quantity">
          </el-table-column>
          <el-table-column align="center" label="总价" prop="allprice">
          </el-table-column>
        </el-table>
        <div slot="footer" class="dialog-footer">
          <el-button size="small" @click="showOrderInfo = false"
            >取消</el-button
          >
          <el-button
            size="small"
            type="primary"
            :loading="loading"
            class="title"
            @click="addOrder"
            :disabled="orderTime === ''"
            >下单</el-button
          >
        </div>
      </el-dialog>
    </el-dialog>
  </div>
</template>

<script>
import api from "./api/index";
export default {
  data() {
    return {
      // 分页
      agencyTablePage: {
        page: 1,
        rows: 30,
        total: 0,
      },
      listData: [],
      showShoppingInfo: false,
      showOrderInfo: false,
      commodityPurchase: false,
      commodityOrder: false,
      loading: false, //是显示加载
      orderTime: "",
      // 搜索参数
      searchValue: "1",
      valueInfo: "",
      options: [
        {
          label: "摊位名称",
          value: "1",
        },
        {
          label: "经营内容",
          value: "2",
        },
      ],
      // 选购菜单
      menuData: [],
      treeData: [],
      defaultProps: {
        children: "children",
        label: "nickname",
      },
      // 选购菜单的商品列表
      purchaseData: [],
      // 分页
      purchaseTablePage: {
        page: 1,
        rows: 30,
        total: 0,
      },
      // 存储商家信息
      rowInfo: [],
      // 选购商品的购物车信息
      purchaseArray: [],
      // 选择删除的选购商品
      selectdatanum: "",
      selectdatarow: "",
      // 预订商品的购物车信息
      orderArray: [],
      // 选择删除的选购商品
      orderselectdatanum: "",
      orderselectdatarow: "",
      // 预订菜单
      treeOrderData: [],
      // 选购菜单的商品列表
      orderData: [],
      // 分页
      orderTablePage: {
        page: 1,
        rows: 30,
        total: 0,
      },
    };
  },
  created() {
    this.getList(this.agencyTablePage.page, this.agencyTablePage.rows);
  },
  methods: {
    // 获取商家列表
    getList(page, size, params) {
      var data = params ? "state=1&" + params : "state=1";
      api.getShopperList(page, size, data).then((res) => {
        if (res.data.code === 200) {
          this.listData = res.data.data.list;
          this.agencyTablePage.total = res.data.data.total;
        } else {
          this.$message({
            showClose: true,
            message: res.data.message,
            type: "warning",
          });
        }
      });
    },
    changeSize(val) {
      const data = {
        page: this.agencyTablePage.page,
        size: val,
      };
      this.agencyTablePage.rows = val;
      this.getList(this.agencyTablePage.page, this.agencyTablePage.rows);
    },
    changeCurrent(val) {
      const data = {
        page: val,
        size: this.agencyTablePage.rows,
      };
      this.agencyTablePage.page = val;
      this.getList(this.agencyTablePage.page, this.agencyTablePage.rows);
    },
    // 搜索事件
    search() {
      var data = "";
      if (this.searchValue === "1" && this.valueInfo !== "") {
        data = "nickname=" + this.valueInfo;
      } else if (this.searchValue === "2" && this.valueInfo !== "") {
        data = "info=" + this.valueInfo;
      }
      this.getList(this.agencyTablePage.page, this.agencyTablePage.rows, data);
    },
    reset() {
      this.valueInfo = "";
    },
    // 将列表格式化树
    transform() {
      const list = [];
      this.menuData.forEach((item) => {
        if (item.parent === null || item.parent === "") {
          list.push({ ...item, children: this.tree(item.id) });
        }
      });
      return list;
    },
    tree(parentId) {
      const tree = [];
      this.menuData.forEach((item) => {
        if (item.parent === parentId) {
          tree.push({ ...item, children: this.tree(this.list, item.id) });
        }
      });
      return tree;
    },
    // 选购方法
    purchase(index, row) {
      this.rowInfo = row;
      var data = "shopper=" + row.id;
      api.getMenu(1, 100, data).then((res) => {
        if (res.data.code === 200) {
          this.menuData = res.data.data.list;
          this.treeData = this.transform();
        } else {
          this.$message({
            showClose: true,
            message: res.data.message,
            type: "warning",
          });
        }
      });
      this.commodityPurchase = true;
    },
    // 点击菜单获取商品
    nodeclick(arr, node, self) {
      this.currentNodeInfo = arr;
      const data = {
        page: this.purchaseTablePage.page,
        size: this.purchaseTablePage.rows,
        typeid: this.currentNodeInfo.id,
      };
      this.getFood(data);
    },
    // 点击节点获取商品
    getFood(params) {
      api.getFood(this.rowInfo.id, params).then((res) => {
        if (res.data.code === 200) {
          this.purchaseData = res.data.data.list;
          this.purchaseTablePage.total = res.data.data.total;
        }
      });
    },
    changePurchaseSize(val) {
      const data = {
        page: this.purchaseTablePage.page,
        size: val,
        typeid: this.currentNodeInfo.id,
      };
      this.purchaseTablePage.rows = val;
      this.getFood(data);
    },
    changePurchaseCurrent(val) {
      const data = {
        page: val,
        size: this.purchaseTablePage.rows,
        typeid: this.currentNodeInfo.id,
      };
      this.purchaseTablePage.page = val;
      this.getFood(data);
    },
    // 选购商品加入购物车
    addPurchase(index, row) {
      row.allprice = row.price * row.quantity;
      const data = {
        allprice: row.allprice,
        commodity: row.id,
        price: row.price,
        quantity: row.quantity,
        nickname: row.nickname,
        info: row.info,
        size: row.size,
      };
      console.log(data);
      console.log(row);
      this.purchaseArray.push(data);
    },
    // 删除购物车商品
    datasetselect(val) {
      this.selectdatarow = val;
      this.selectdatanum = val.length;
    },
    deletePurchaseFood() {
      this.purchaseArray.forEach((food, index) => {
        this.selectdatarow.forEach((e) => {
          if (food.id === e.id) {
            this.purchaseArray.splice(index, 1);
          }
        });
      });
      console.log(this.purchaseArray);
    },
    // 选购下单
    addPurchaseOrder() {
      const data = {
        content: JSON.stringify(this.purchaseArray),
        id: this.$store.state.userInfo.id,
        type: 0,
      };
      api.saveOrder(data).then((res) => {
        if (res.data.code === 200) {
          this.showShoppingInfo = false;
          this.commodityPurchase = false;
          this.$message({
            type: "success",
            message: res.data.message,
          });
        } else {
          this.$message({
            showClose: true,
            message: res.data.message,
            type: "warning",
          });
        }
      });
    },
    // 预订商品
    order(index, row) {
      this.rowInfo = row;
      var data = "shopper=" + row.id;
      api.getMenu(1, 100, data).then((res) => {
        if (res.data.code === 200) {
          this.menuData = res.data.data.list;
          this.treeOrderData = this.transform();
        } else {
          this.$message({
            showClose: true,
            message: res.data.message,
            type: "warning",
          });
        }
      });
      this.commodityOrder = true;
    },
    // 点击菜单获取商品
    nodeOrderclick(arr, node, self) {
      this.currentNodeInfo = arr;
      const data = {
        page: this.orderTablePage.page,
        size: this.orderTablePage.rows,
        typeid: this.currentNodeInfo.id,
      };
      this.getOrderFood(data);
    },
    getOrderFood(params) {
      api.getFood(this.rowInfo.id, params).then((res) => {
        if (res.data.code === 200) {
          this.orderData = res.data.data.list;
          this.orderTablePage.total = res.data.data.total;
        }
      });
    },
    changeOrderSize(val) {
      const data = {
        page: this.orderTablePage.page,
        size: val,
        typeid: this.currentNodeInfo.id,
      };
      this.orderTablePage.rows = val;
      this.getOrderFood(data);
    },
    changeOrderCurrent(val) {
      const data = {
        page: val,
        size: this.orderTablePage.rows,
        typeid: this.currentNodeInfo.id,
      };
      this.orderTablePage.page = val;
      this.getOrderFood(data);
    },
    // 预订商品加入购物车
    addOrderData(index, row) {
      row.allprice = row.price * row.quantity;
      this.orderArray.push(row);
    },
    // 删除预订的商品信息
    dataordersetselect(val) {
      this.orderselectdatarow = val;
      this.orderselectdatanum = val.length;
    },
    deleteOrderFood() {
      this.orderArray.forEach((food, index) => {
        this.orderselectdatarow.forEach((e) => {
          if (food.id === e.id) {
            this.orderArray.splice(index, 1);
          }
        });
      });
      console.log(this.orderArray);
    },
    // 预订下单
    addOrder() {
      const data = {
        content: JSON.stringify(this.purchaseArray),
        id: this.$store.state.userInfo.id,
        type: 0,
        timeBook: this.orderTime,
      };
      api.saveOrder(data).then((res) => {
        if (res.data.code === 200) {
          this.showOrderInfo = false;
          this.commodityOrder = false;
          this.$message({
            type: "success",
            message: res.data.message,
          });
        } else {
          this.$message({
            showClose: true,
            message: res.data.message,
            type: "warning",
          });
        }
      });
    },
  },
};
</script>

<style scoped>
.user-search {
  margin-top: 20px;
}
.userRole {
  width: 100%;
}
</style>

 
 